{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Add your product!</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Product Name:</label>
            {{ form.name }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
        </div>

         <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category }}
        </div>


        <div class="form-group">
            <label for="{{ form.price.id_for_label }}">Price:</label>
            {{ form.price }}
        </div>

        <div class="form-group">
            <label for="{{ form.stock.id_for_label }}">Stock Quantity:</label>
            {{ form.stock }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-primary">Add Product</button>
            <a href="{% url 'shop:shop' %}" class="btn-secondary">Cancel</a>
        </div>
    </form>


</div>
{% endblock %}